<ul class="pagination" ng-if="lastPage > 0">
  <li ng-class="{ 'disabled': transientState.pageOffset === 0 }">
    <a ng-click="goBack()" >&laquo;</a>
  </li>
  <li ng-repeat="link in pageLinks" ng-class="{ 'active': link.current, 'disabled': link.gap }">
    <a ng-if="!link.gap" ng-click="transientState.pageOffset = link.page">{{ link.page + 1 }}</a>
    <a ng-if="link.gap" href="">&hellip;</a>
  </li>
  <li ng-class="{ 'disabled': transientState.pageOffset === lastPage }">
    <a ng-click="goForward()" >&raquo;</a>
  </li>
</ul>
<span class="rows-per-page-ctrl">
  <span class="rows-per-page-msg">{{ options.rowsPerPageMessage }}</span>
  <ul class="pagination" ng-if="options.showRowsPerPageCtrls">
    <li ng-repeat="limit in options.rowsPerPageChoices" ng-class="{'active': options.rowsPerPage === limit}">
      <a ng-click="options.rowsPerPage = limit">{{ limit }}</a>
    </li>
  </ul>
</span>
