<div class="mlhr-table-wrapper">
  <table ng-class="classes" class="mlhr-table">
    <thead>
      <tr ui-sortable="sortableOptions" ng-model="columns">
        <th 
          scope="col" 
          ng-repeat="column in columns" 
          ng-click="toggleSort($event,column)" 
          ng-class="{'sortable-column' : column.sort}" 
          ng-attr-title="{{ column.title || '' }}"
          ng-style="{ width: column.width, 'min-width': column.width, 'max-width': column.width }"
        >
          <span class="column-text">
            {{column.hasOwnProperty('label') ? column.label : column.id }}
            <span 
              ng-if="column.sort" 
              title="This column is sortable. Click to toggle sort order. Hold shift while clicking multiple columns to stack sorting."
              class="sorting-icon {{ getSortClass( sortDirection[column.id] ) }}"
            ></span>
          </span>
          <span 
            ng-if="!column.lock_width"
            ng-class="{'discreet-width': !!column.width, 'column-resizer': true}"
            title="Click and drag to set discreet width. Click once to clear discreet width."
            ng-mousedown="startColumnResize($event, column)"
          >
            &nbsp;
          </span>
        </th>
      </tr>
      <tr ng-if="hasFilterFields()" class="mlhr-table-filter-row">
        <th ng-repeat="column in columns">
          <input 
            type="search"
            ng-if="(column.filter)"
            ng-model="searchTerms[column.id]"
            ng-attr-placeholder="{{ column.filter && column.filter.placeholder }}"
            ng-attr-title="{{ column.filter && column.filter.title }}"
            ng-class="{'active': searchTerms[column.id] }"
          >
        </th>
      </tr>
    </thead>
    <tfoot>
      <tr>
        <td ng-attr-colspan="{{ getActiveColCount() }}">
          <form novalidate>
            <label>row limit:</label> <input type="text" ng-model="options.row_limit" value="{{ options.row_limit }}">&nbsp;&nbsp;
            <input type="radio" ng-model="options.pagingScheme" value="scroll" name="paging-scroll"> <label for="paging-scroll">scroll</label>&nbsp;&nbsp;
            <input type="radio" ng-model="options.pagingScheme" value="page" name="paging-page"> <label for="paging-page">paginate</label>&nbsp;&nbsp;
            <span ng-if="options.pagingScheme === 'page'" mlhr-table-paginate="options" filter-state="filterState"></span>
          </form>
        </td>
      </tr>
    </tfoot>
    <tbody msd-wheel="onScroll($event, $delta, $deltaX, $deltaY)" ng-class="options.rowOffset % 2 ? 'offset-odd' : 'offset-even'">
      <tr ng-repeat="
        row in rows 
          | tableRowFilter:columns:searchTerms:filterState 
          | tableRowSorter:columns:sortOrder:sortDirection 
          | limitTo:options.rowOffset - filterState.filterCount 
          | limitTo:options.row_limit
        track by row[options.trackBy]">
        <td ng-repeat="
          column in columns 
          track by column.id" class="mlhr-table-cell" mlhr-table-cell></td>
      </tr>
    </tbody>
  </table>
  <div ng-show="options.pagingScheme === 'scroll'" class="mlhr-table-scroller-wrapper">
    <div class="mlhr-table-scroller"></div>
  </div>
</div>