<h5>Disabled Columns</h5>

<p>This example shows how you can enable/disable columns dynamically.</p>
<br>

<div ng-init="vm.pagingScheme = 'paginate'" class="container-fluid">
  <div class="row">
    <div class="col-md-8">

      <div class="btn-group" role="group">
        <button
          ng-class="{ active: vm.pagingScheme == 'scroll' }"
          ng-click="vm.pagingScheme = 'scroll'"
          type="button"
          class="btn btn-primary"
        >scroll</button>
        <button
          ng-class="{ active: vm.pagingScheme == 'paginate' }"
          ng-click="vm.pagingScheme = 'paginate'"
          type="button"
          class="btn btn-primary"
        >paginate</button>
      </div>

      <div ng-if="vm.pagingScheme == 'scroll'">
        <ap-mesa 
          columns="vm.my_table_columns" 
          rows="vm.phoneData"
          selected="vm.my_selected_rows"
          options="vm.my_table_options"
          enabled-columns="vm.my_enabled_columns"
          table-class="table">
        </ap-mesa>
      </div>

      <div ng-if="vm.pagingScheme == 'paginate'">
        <ap-mesa 
          columns="vm.my_table_columns" 
          rows="vm.phoneData"
          selected="vm.my_selected_rows"
          options="vm.my_table_options_paginated"
          enabled-columns="vm.my_enabled_columns"
          table-class="table">
        </ap-mesa>
      </div>
      
    </div>
    <div class="col-md-4">
      
      <h3>Enabled Columns</h3>

      <div ng-repeat="column in vm.my_table_columns track by column.id">
        <input type="checkbox" ng-checked="vm.my_enabled_columns.indexOf(column.id) > -1" ng-click="vm.toggleColumn(column.id)">
        {{ column.label }}
      </div>

      <pre>{{ vm.my_enabled_columns | json }}</pre>

      <input id="fixedWidthLayout" type="checkbox" ng-checked="(vm.pagingScheme !== 'paginate' && vm.my_table_options.fixedWidthLayout) || (vm.pagingScheme == 'paginate' && vm.my_table_options_paginated.fixedWidthLayout)" ng-click="vm.toggleFixedWidth()"/>
      <label for="fixedWidthLayout">options.fixedWidthLayout</label>

      
    </div>
  </div>
</div>
