<h3 style="margin-top: 0;">Specs for {{ row.DeviceName }}:</h3>
<div class="row">
  <div class="col-xs-4">
    <strong>gprs</strong>: {{ row.gprs }}<br>
    <strong>edge</strong>: {{ row.edge }}<br>
    <strong>announced</strong>: {{ row.announced }}<br>
    <strong>status</strong>: {{ row.status }}<br>
    <strong>dimensions</strong>: {{ row.dimensions }}<br>
    <strong>weight</strong>: {{ row.weight }}<br>
    <strong>sim</strong>: {{ row.sim }}<br>
    <strong>type</strong>: {{ row.type }}<br>
    <strong>size</strong>: {{ row.size }}<br>
    <strong>resolution</strong>: {{ row.resolution }}<br>
    <strong>card_slot</strong>: {{ row.card_slot }}<br>
    <strong>alert_types</strong>: {{ row.alert_types }}<br>
    <strong>loudspeaker_</strong>: {{ row.loudspeaker_ }}
  </div>
  <div class="col-xs-4">
    <strong>wlan</strong>: {{ row.wlan }}<br>
    <strong>bluetooth</strong>: {{ row.bluetooth }}<br>
    <strong>gps</strong>: {{ row.gps }}<br>
    <strong>radio</strong>: {{ row.radio }}<br>
    <strong>usb</strong>: {{ row.usb }}<br>
    <strong>messaging</strong>: {{ row.messaging }}<br>
    <strong>browser</strong>: {{ row.browser }}<br>
    <strong>java</strong>: {{ row.java }}<br>
    <strong>features_c</strong>: {{ row.features_c }}/video editor',<br>
    <strong>battery_c</strong>: {{ row.battery_c }}<br>
    <strong>stand_by</strong>: {{ row.stand_by }}<br>
    <strong>talk_time</strong>: {{ row.talk_time }}<br>
    <strong>colors</strong>: {{ row.colors }}
  </div>
  <div class="col-xs-4">
    <strong>sensors</strong>: {{ row.sensors }}<br>
    <strong>cpu</strong>: {{ row.cpu }}<br>
    <strong>internal</strong>: {{ row.internal }}<br>
    <strong>os</strong>: {{ row.os }}<br>
    <strong>primary_</strong>: {{ row.primary_ }}<br>
    <strong>video</strong>: {{ row.video }}<br>
    <strong>secondary</strong>: {{ row.secondary }}<br>
    <strong>speed</strong>: {{ row.speed }}<br>
    <strong>network_c</strong>: {{ row.network_c }}<br>
    <strong>chipset</strong>: {{ row.chipset }}<br>
    <strong>features</strong>: {{ row.features }}<br>
    <strong>gpu</strong>: {{ row.gpu }}<br>
    <strong>multitouch</strong>: {{ row.multitouch }}<br>
    <strong>_2g_bands</strong>: {{ row._2g_bands }}<br>
    <strong>_3_5mm_jack_</strong>: {{ row._3_5mm_jack_ }}<br>
    <strong>_3g_bands</strong>: {{ row._3g_bands }}
  </div>
</div>