<strong>gprs</strong>: {{ row.gprs }}
<strong>edge</strong>: {{ row.edge }}
<strong>announced</strong>: {{ row.announced }}
<strong>status</strong>: {{ row.status }}<br>
<strong>dimensions</strong>: {{ row.dimensions }}
<strong>weight</strong>: {{ row.weight }}
<strong>sim</strong>: {{ row.sim }}
<strong>type</strong>: {{ row.type }}<br>
<strong>size</strong>: {{ row.size }}
<strong>resolution</strong>: {{ row.resolution }}
<strong>card_slot</strong>: {{ row.card_slot }}
<strong>alert_types</strong>: {{ row.alert_types }}<br>
<strong>loudspeaker_</strong>: {{ row.loudspeaker_ }}
<strong>wlan</strong>: {{ row.wlan }}
<strong>bluetooth</strong>: {{ row.bluetooth }}
<strong>gps</strong>: {{ row.gps }}<br>
<strong>radio</strong>: {{ row.radio }}
<strong>usb</strong>: {{ row.usb }}
<strong>messaging</strong>: {{ row.messaging }}
<strong>browser</strong>: {{ row.browser }}<br>
<strong>java</strong>: {{ row.java }}
<strong>features_c</strong>: {{ row.features_c }}/video editor',
<strong>battery_c</strong>: {{ row.battery_c }}
<strong>stand_by</strong>: {{ row.stand_by }}<br>
<strong>talk_time</strong>: {{ row.talk_time }}
<strong>colors</strong>: {{ row.colors }}
<strong>sensors</strong>: {{ row.sensors }}
<strong>cpu</strong>: {{ row.cpu }}<br>
<strong>internal</strong>: {{ row.internal }}
<strong>os</strong>: {{ row.os }}
<strong>primary_</strong>: {{ row.primary_ }}
<strong>video</strong>: {{ row.video }}<br>
<strong>secondary</strong>: {{ row.secondary }}
<strong>speed</strong>: {{ row.speed }}
<strong>network_c</strong>: {{ row.network_c }}
<strong>chipset</strong>: {{ row.chipset }}<br>
<strong>features</strong>: {{ row.features }}
<strong>gpu</strong>: {{ row.gpu }}
<strong>multitouch</strong>: {{ row.multitouch }}
<strong>_2g_bands</strong>: {{ row._2g_bands }}<br>
<strong>_3_5mm_jack_</strong>: {{ row._3_5mm_jack_ }}
<strong>_3g_bands</strong>: {{ row._3g_bands }}