<header>
  <h5>Description</h5>
  <p>An angular table directive catered to displaying real-time data. For many situations, this can be a suitable replacement or alternative for ng-grid/ui-grid.</p>
  <h5>Features</h5>
  <div class="row">
    <div class="col-sm-6">
      <ul>
        <li>complex column-specific filters</li>
        <li>column sorting</li>
        <li>column resizing</li>
        <li>row selection</li>
      </ul>
    </div>
    <div class="col-sm-6">
      <ul>
        <li>stacked ordering</li>
        <li>localStorage/custom state persistance</li>
        <li>rows are virtualized (can handle a lot of rows)</li>
        <li>pagination</li>
      </ul>
    </div>
  </div>
</header>

<hr>

<h5>Kitchen Sink Example:</h5>

<p>This example showcases most of the features available for this module. Specifically, it shows row selection, column sorting, built-in column filters, custom column filters, column resizing, locked column width, cell formatting, template string for cell markup, templateUrl for cell markup, and use of localStorage for persistence between page loads.</p>
<br>
<br>

<div ng-init="pagingScheme = 'scroll'">
  <div class="btn-group" role="group">
    <button
      ng-class="{ active: pagingScheme == 'scroll' }"
      ng-click="pagingScheme = 'scroll'"
      type="button"
      class="btn btn-primary"
    >scroll</button>
    <button
      ng-class="{ active: pagingScheme == 'paginate' }"
      ng-click="pagingScheme = 'paginate'"
      type="button"
      class="btn btn-primary"
    >paginate</button>
  </div>
  <div ng-if="pagingScheme == 'scroll'">
    <ap-mesa 
      columns="my_table_columns" 
      rows="my_table_data"
      selected="my_selected_rows"
      class="col-sm-9"
      options="my_table_options"
      table-class="table">
    </ap-mesa>
    <div class="col-sm-3">
      <h4>Selected rows: </h4>
      <pre>{{my_selected_rows | json}}</pre>
    </div>
  </div>

  <div ng-if="pagingScheme == 'paginate'">
    <ap-mesa 
      columns="my_table_columns" 
      rows="my_table_data"
      selected="my_selected_rows"
      class="col-sm-9"
      options="my_table_options_paginate"
      table-class="table">
    </ap-mesa>
    <div class="col-sm-3">
      <h4>Selected rows: </h4>
      <pre>{{my_selected_rows | json}}</pre>
    </div>
  </div>
</div>
