<h5>Kitchen Sink Example:</h5>

<p>This example showcases most of the features available for this module. Specifically, it shows row selection, column sorting, built-in column filters, custom column filters, column resizing, locked column width, cell formatting, template string for cell markup, templateUrl for cell markup, and use of localStorage for persistence between page loads.</p>
<br>
<br>


Selected rows: 

<ap-mesa 
  columns="my_table_columns" 
  rows="my_table_data"
  selected="my_selected_rows"
  class="col-sm-9"
  options="my_table_options"
  table-class="table">
</ap-mesa>


<pre class="col-sm-3">{{my_selected_rows | json}}</pre>
