Selected rows: 

<mlhr-table 
  columns="my_table_columns" 
  rows="my_table_data"
  selected="my_selected_rows"
  class="col-sm-9"
  options="my_table_options"
  track-by="id"
  table-class="table">
</mlhr-table>

<mlhr-table 
  columns="my_table_columns" 
  rows="my_table_data2"
  selected="my_selected_rows2"
  class="col-sm-9"
  options="my_table_options2"
  track-by="id"
  table-class="table">
</mlhr-table>

<mlhr-table 
  columns="my_table_columns" 
  rows="my_table_data3"
  selected="my_selected_rows3"
  class="col-sm-9"
  options="my_table_options3"
  track-by="id"
  table-class="table">
</mlhr-table>

<mlhr-table 
  columns="my_table_columns" 
  rows="my_table_data4"
  selected="my_selected_rows4"
  class="col-sm-9"
  options="my_table_options4"
  track-by="id"
  table-class="table">
</mlhr-table>

<mlhr-table 
  columns="my_table_columns" 
  rows="my_table_data5"
  selected="my_selected_rows5"
  class="col-sm-9"
  options="my_table_options5"
  track-by="id"
  table-class="table">
</mlhr-table>

<mlhr-table 
  columns="my_table_columns" 
  rows="my_table_data6"
  selected="my_selected_rows6"
  class="col-sm-9"
  options="my_table_options6"
  track-by="id"
  table-class="table">
</mlhr-table>

<mlhr-table 
  columns="my_table_columns" 
  rows="my_table_data7"
  selected="my_selected_rows7"
  class="col-sm-9"
  options="my_table_options7"
  track-by="id"
  table-class="table">
</mlhr-table>


<pre class="col-sm-3">{{my_selected_rows | json}}</pre>