<h5>Performance Test:</h5>

<p>This page tests the performance of 7 independent instances of tables on the page, each with a significant number of rows.</p>
<br>
<br>

<ap-mesa 
  columns="my_table_columns" 
  rows="my_table_data"
  selected="my_selected_rows"
  options="my_table_options"
  track-by="id"
  table-class="table">
</ap-mesa>

<ap-mesa 
  columns="my_table_columns" 
  rows="my_table_data2"
  selected="my_selected_rows2"
  options="my_table_options2"
  track-by="id"
  table-class="table">
</ap-mesa>

<ap-mesa 
  columns="my_table_columns" 
  rows="my_table_data3"
  selected="my_selected_rows3"
  options="my_table_options3"
  track-by="id"
  table-class="table">
</ap-mesa>

<ap-mesa 
  columns="my_table_columns" 
  rows="my_table_data4"
  selected="my_selected_rows4"
  options="my_table_options4"
  track-by="id"
  table-class="table">
</ap-mesa>

<ap-mesa 
  columns="my_table_columns" 
  rows="my_table_data5"
  selected="my_selected_rows5"
  options="my_table_options5"
  track-by="id"
  table-class="table">
</ap-mesa>

<ap-mesa 
  columns="my_table_columns" 
  rows="my_table_data6"
  selected="my_selected_rows6"
  options="my_table_options6"
  track-by="id"
  table-class="table">
</ap-mesa>

<ap-mesa 
  columns="my_table_columns" 
  rows="my_table_data7"
  selected="my_selected_rows7"
  options="my_table_options7"
  track-by="id"
  table-class="table">
</ap-mesa>
