<table class="{{classes}}">
  <thead>
    <tr>
      <th scope="col" ng-repeat="column in columns" ng-click="toggleSort($event,column)" class="{{ column.sort ? 'sortable-column' : ''}}">
        {{column.label || column.id}}
        <span ng-if="column.sort" class="sorting-icon {{ getSortClass( sortDirection[column.id] ) }}"></span>
        <span class="column-resizer" ng-mousedown="startColumnResize($event)">&nbsp;</span>
      </th>
    </tr>
    <tr ng-if="hasFilterFields()">
      <th ng-repeat="column in columns">
        <input type="search" ng-if="(column.filter)" ng-model="searchTerms[column.id]">
      </th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="row in rows | tableRowFilter:columns:searchTerms | tableRowSorter:columns:sortOrder:sortDirection ">
      <td ng-repeat="column in columns" >
        {{ row | tableCellFilter:column }}
      </td>
    </tr>
  </tbody>
</table>